/* start Circular fonts */

@font-face {
  font-family: Circular-Bold;
  src: url("../../assets/fonts/circularBold/lineto-circular-bold.eot");
  src: url("../../assets/fonts/circularBold/lineto-circular-bolXd.eot?#iefix") format("embedded-opentype"),
       url("../../assets/fonts/circularBold/lineto-circular-bold.woff") format("woff"),
       url("../../assets/fonts/circularBold/lineto-circular-bold.ttf") format("truetype"),
       url("../../assets/fonts/circularBold/lineto-circular-bold.svg#lineto-circular-bold") format("svg");
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }
@font-face {
  font-family: Circular-Book;
  src: url("../../assets/fonts/circularBook/lineto-circular-book.eot");
  src: url("../../assets/fonts/circularBook/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
       url("../../assets/fonts/circularBook/lineto-circular-book.woff") format("woff"),
       url("../../assets/fonts/circularBook/lineto-circular-book.ttf") format("truetype"),
       url("../../assets/fonts/circularBook/lineto-circular-book.svg#lineto-circular-book") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }
